@font-face {
    font-family: 'CabinetGrostek';
    src: url(fonts/CabinetGrotesk-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'CabinetGrostek';
    src: url(fonts/CabinetGrotesk-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'CabinetGrostek';
    src: url(fonts/CabinetGrotesk-Black.ttf) format('truetype');
    font-weight: black;
}

body {
    font-family: 'CabinetGrostek', sans-serif;
    overflow: scroll;
    background-color: #c4d1ec;
}

.port img {
    position: relative;
    max-width: 100%;
    max-height: auto;
}

.bigtext{
    font-family: 'CabinetGrostek';
    font-weight: bold;
    color: #c4d1ec;
    font-size: 150px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.textsmaller {
    font-size: 30px;
}

.headerbg {
    min-height: 100vh;
    width: 100%;
    user-select: none;
    background-image: url(headerbackground2.png);
    background-position: center;
    background-size:cover;   
    position: relative;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #c4d1ec;

}

.header {

    color: #c4d1ec;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    

}

.dropbtn {
    background: none;
    border: none;
    font-family: 'CabinetGrostek', sans-serif;
    font-weight: bold;
    color: #c4d1ec;
    padding: 12px;
    font-size: 18px;
    border: none;  }

  .dropbtn2 {
    background: none;
    border: none;
    font-family: 'CabinetGrostek', sans-serif;
    font-weight: bold;
    color: #c4d1ec;
    padding: 12px;
    font-size: 18px;
    border: none;
    text-decoration: none;
  }


  .dropbtn3 {
    background: #111e40;
    border: none;
    font-family: 'CabinetGrostek', sans-serif;
    font-weight: bold;
    color: #c4d1ec;
    padding: 12px;
    font-size: 30px;
    border: none;
    text-decoration: none;
  }

  .dropbtn4 {
    background: #111e40;
    font-family: 'CabinetGrostek', sans-serif;
    font-weight: bold;
    color: #c4d1ec;
    padding: 12px;
    font-size: 30px;
    border: none;
    text-decoration: none;
  }



.dropdown-content {
    color: #111e40;
    background-color: lightgrey;
    display: none;
    position: absolute;
    min-width: 119px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
    line-height: 60px;

}

.dropdown-content a {
    color: #111e40;
    padding: 8px 8px;
    text-decoration: none;
    display: block;

  }

.dropdown-content a:hover {background-color:#c4d1ec;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#c4d1ec; color: #111e40;}

.dropdown:hover .dropbtn2 {background-color:#c4d1ec; color: #111e40;}

.dropdown:hover .dropbtn3 {background-color:#c4d1ec; color: #111e40;}

.dropdown:hover .dropbtn4 {background-color:#c4d1ec; color: #111e40;}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

.journey {
    color: #111e40;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
    font-size: 50px;
    overflow: scroll;
}

.footer {
    width: 100;
    text-align: center;
    padding: 30px;
    background-color: #111e40;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: black;
    color: #c4d1ec;
}

.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 1s ease-out;
    transition-delay: 0.2s;
}

.animationleft {
    opacity: 0;
    transform: translateX(300px);
    transition: all 1s ease-out;
    transition-delay: 0.2s;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}

.container1 {
    display: flex;
    flex-direction: row 2;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

  
.container1 .btn, .container2 .btn2 {
    font-family: 'Cabinet Grotesk', sans-serif;
    display: flex;
    text-align: center;
    font-size: 30px;
    color: #c4d1ec;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 12px 24px;
    justify-content: center;
    
}

.container1 .btn:hover {
  background-color: #c4d1ec;
  color: #111e40;
}

.container2 .btn2:hover {
    background-color: #c4d1ec;
    color: #111e40;
  }

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 800px;
}

.container6:hover .image {
    opacity: 0.3;
  }
  
.container6:hover .middle {
    opacity: 1;
  }


.container6 {
    display: flex;

}

  .text {
    background-color: #111e40;
    color: #c4d1ec;
    font-family: 'Cabinet Grotesk';
    font-size: 30px;
    padding: 16px 32px;
    font-weight: bold;
    text-decoration: none;
    border: none;
  }
  
  