/* fonts */

@font-face {
    font-family: 'Poppins';
    src: url(public/fonts/Poppins-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url(public/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(public/fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url(public/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(public/fonts/Poppins-Black.ttf) format('truetype');
    font-weight: 900;
}

/* page container */

.page-wrap {
	min-height    : 100%;
	overflow      : hidden;
	position      : relative;
}

html,body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f172a;
    overflow-x: hidden;
}


/* grid */

* {
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 5%;
}


/* intro */

.header {
    background-color: #0f172a;
    padding: 5%;
}

.intro-title {
    font-family: 'Poppins';
    font-weight: 600;
    color: #e2e8f0;
    font-size: 75px;
    margin-bottom: 10px;
}

.intro-links {
    font-family: 'Poppins';
    font-weight: 600;
    color: #111e40;
    font-size: 36px;
    background-color: #e2e8f0; 
    border-radius: 10px;
    text-align: center;
    width: 210px; 
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .intro-container, .links-container {
        width: 100%;
        padding-right: 0;
        align-items: center;
    }

    .links-container {
        margin-top: 20px;
    }
}

.intro-container {
    width: 50%;
    padding-right: 5%;
}

.typewriter-container {
    font-family: 'Poppins';
    color: #e2e8f0;
    font-size: 39px;
    height: 58px; /* Adjust this value based on your font size */
}


.links-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* divider */

.divider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.down-arrow {
    font-size: 40px;
    font-weight: bold;
    color: #e2e8f0;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5%;
}

/* about me*/

.aboutme-container {
    background-color: #e2e8f0;
    padding: 8%;
}

.aboutme-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutme-text-content {
    width: 55%; /* Adjust as needed */
    padding-right: 5%; /* Creates some space between text and image */
}


.aboutme-image {
    width: 45%; /* Adjust as needed */
    border-radius: 8%;
    overflow:hidden;
}

.aboutme-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.aboutme-title {
    font-family: 'Poppins';
    font-weight: 600;
    color: #0f172a;
    font-size: 45px;
    font-style: italic;
    margin-bottom: 10px;
}

.line {
    height: 5px;
    width: 50%;
    background: linear-gradient(
      to bottom,
      transparent 2px,
      #0f172a 2px,
      #0f172a 3px,
      transparent 3px
    );
    margin-bottom: 10px;
}

.aboutme-subtitle {
    font-family: 'Poppins';
    font-weight: 600;
    color: #0f172a;
    font-size: 28px;
    margin-bottom: 20px;
}

.aboutme-text {
    font-family: 'Poppins';
    font-weight: 400;
    color: #0f172a;
    font-size: 18px;
}

@media (max-width: 768px) {
    .aboutme-content {
        flex-direction: column-reverse;
    }

    .aboutme-text-content, .aboutme-image {
        width: 100%;
    }

    .aboutme-text-content {
        padding-right: 0;
        margin-top: 20px;
    }
}

/* coffee */

.coffee-container {
    background-color: #0f172a;
    padding: 8%;
    align-items: center;
}

.coffee-text {
    font-family: 'Poppins';
    font-weight: 600;
    color: #e2e8f0;
    font-size: 30px;
    text-align: center;
}

.contact-button {
    font-family: 'Poppins';
    font-weight: 600;
    color: #111e40;
    font-size: 25px;
    background-color: #e2e8f0; 
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;   
    text-align: center;
    max-width: 15%;
    margin: 0 auto;
}

/* footer */

.footer {
    background-color: #e2e8f0;
    padding: 1.5%;
}

.footer-text {
    color: #111e40;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cursor-light {
    position: fixed;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(17, 31, 90, 0.6) 0%,
        rgba(17, 31, 80, 0.5) 25%,
        rgba(17, 31, 75, 0.4) 35%,
        rgba(17, 31, 70, 0.3) 45%,
        rgba(17, 31, 70, 0.2) 50%,
        rgba(15, 23, 42, 0.1) 75%,
        rgba(15, 23, 42, 0) 100%
    );
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: lighten;
}
